---
import type { HTMLAttributes } from "astro/types";
import clsx from "clsx";

interface Props {
  href?: HTMLAttributes<"a">["href"];
  id?: string;
  children: unknown;
  borderStyle?: "outlined" | "normal";
  className?: string;
  isDownload?: boolean;
  size?: "sm" | "md";
  target?: HTMLAttributes<"a">["target"];
  variant?: "primary" | "secondary" | "accent" | "more";
}

const {
  id,
  href,
  variant = "primary",
  borderStyle = "normal",
  isDownload,
  size = "md",
  target,
  className,
} = Astro.props;

const classNames = clsx(
  {
    "button-size-sm": size === "sm",
    "button-size-md": size === "md",
    "variant-primary": variant === "primary",
    "variant-secondary": variant === "secondary",
    "variant-accent": variant === "accent",
    "variant-more": variant === "more",
    "border-outlined": borderStyle === "outlined",
  },
  className,
);
---

{
  typeof href === "string" ? (
    <a
      href={href}
      class={classNames}
      target={target}
      download={isDownload}
      id={id}
    >
      <slot />
    </a>
  ) : (
    <button class={classNames} id={id}>
      <slot />
    </button>
  )
}
<style>
  a,
  button {
    display: inline-block;
    line-height: 1;
    border-radius: 3px;
    text-decoration: none;
    font-weight: var(--font-weight-bold);
    white-space: nowrap;
  }

  a.variant-more,
  button.variant-more {
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    font-weight: var(--font-weight-bold);
    border: none;
    white-space: nowrap;
    background-color: transparent;
    padding: 0;
  }

  .button-size-sm {
    padding: var(--spacing-xs) var(--spacing-sm);
    font-size: var(--font-size-small);
  }
  .button-size-md {
    padding: var(--spacing-sm) var(--spacing-lg);
    font-size: var(--font-size-primary);
  }

  .variant-primary {
    color: var(--color-white);
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
  }
  a.variant-primary:hover,
  button.variant-primary:hover {
    background-color: var(--color-primary-hover);
    border-color: var(--color-primary-hover);
  }
  .variant-primary.border-outlined {
    color: var(--color-primary);
    background-color: var(--color-white);
  }
  a.variant-primary.border-outlined:hover,
  button.variant-primary.border-outlined:hover {
    color: var(--color-primary-hover);
    background-color: var(--color-white);
  }

  .variant-secondary {
    color: var(--color-primary);
    background-color: transparent;
    border: 1px solid var(--color-primary);
  }
  a.variant-secondary:hover,
  button.variant-secondary:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
  }

  .variant-accent {
    color: var(--color-text);
    background-color: var(--color-accent);
    border: 1px solid var(--color-accent);
  }
  .variant-accent.border-outlined {
    color: var(--color-accent);
    background-color: var(--color-text);
  }

  .variant-more {
    color: var(--color-primary);
  }
  a.variant-more:hover,
  button.variant-more:hover {
    color: var(--color-link);
  }
</style>
